.user-info {
  margin-block-start: 48px;

  .log-out-button,
  .deactivate-account-button {
    width: 100%;
    height: 120px;
    font-size: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-block-start: 48px;
    border-radius: 5px;

    span:nth-of-type(2) {
      a {
        display: inline-block;
        margin-inline-start: 24px;
      }
    }
  }

  .log-out-button {
    color: #fff;
    background-color: #393D42;
  }

  .deactivate-account-button {
    background-color: rgba(190, 56, 70, 25%);
    border: 2px solid rgb(190, 56, 70);

    span {
      margin-inline: 24px;
      display: block;
    }
  }

  p {
    margin-block-start: 73px;
    opacity: .5;
  }
}
