.user-dashboard {
  height: 100vh;

  .side-nav-container {
    height: 100vh;
    background-color: #393D42;
    font-size: 29px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .side-nav-header {
      background-color: #F8F9FA;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 22px 24px;

      img:nth-of-type(1) {
        width: 42px;
      }

      span {
        display: inline-flex;
        margin-inline-start: 24px;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: inherit;
          }
        }
      }

      img:nth-of-type(2) {
        justify-self: flex-end;
        margin-inline-start: auto;
      }
    }

    .side-nav-links {
      background-color: #393D42;
      .nav-links {
        display: flex;
        flex-direction: column;
        padding-inline-start: 24px;
        height: 100%;

        li {
          color: #fff;
          padding-block: 20px;
          height: 80px;
        }
      }
    }

    .side-nav-footer {
      margin-block-start: auto;
      color: #fff;
      padding: 24px;
      display: flex;
      align-items: center;
      gap: 20px;
      background: rgba(69, 122, 251, .24);

      a {
        display: inline-flex;
        margin-inline-start: auto;
      }
    }
  }

  .dashboard-content {
    padding-inline-start: 24px;
    height: 100vh;
    overflow: scroll;

    .task-header {
      display: flex;
      align-items: center;
      gap: 24px;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 24px 48px;
      margin-block: 48px;

      h4 {
        margin-block: 0;
      }
    }

    .task-input {
      .new-task-container {
        border: 2px dashed rgba(110, 116, 124, .5);
        padding: 24px 40px;
        display: flex;
        align-items: center;
        gap: 24px;
        border-radius: 5px;
        stroke-dasharray: 15px, 15px;

        input {
          opacity: .5;
          font-size: 35px;
          border: 0;
          outline: 0;
        }

        span {
          input {
            position: relative;
            font-size: 30px;
            width: 265px;
          }
        }

        img:nth-of-type(1) {
          opacity: .5;
        }

        img:nth-of-type(2) {
          opacity: .5;
          transform: rotateZ(90deg);
          display: inline-block;
          margin-inline-start: auto;
        }
      }
    }

  }
}

